body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:bold;
}

#home {
	background-image:url("https://static1.squarespace.com/static/57525f0445bf218cabd91c17/t/576ea86e2e69cffdc790ee82/1466869905532/wcp_web_backdrop_v1.png?format=1500w");
	background-repeat:no-repeat;
	background-attachment:fixed;
	backgrond-position:center top;
}

#schedule {
	background-image:url("https://i.ytimg.com/vi/2HB18JeAVtY/hqdefault.jpg");
	background-repeat:no-repeat;
	background-attachment:local;
	backgrond-position:center;
	background-size:cover;
}

.times{
	font-weight:bold;
	color:red;
}


h1 {
	color:red;
	text-align:center;
}

.schedule {
	font-weight:bold;
	text-align:center;	
}

footer {
	text-align:center;
}

table {
	border:solid black 1px;
}

td, tr, th {
	border:solid black 1px;
	padding:15px;
	text-align:center;
}

h2 {
	text-align:center;
}

#lunch {
	list-style:none;
}

.container {
	padding-top:10%;
}


.navbar {
	background-color: #4df;
}

a.navbar-brand, a.nav-link {
	color:black;
	font-weight:bold;
}

